@font-face {
  font-family: FiraSans-black;
  src: url(FiraSans-Black.ttf);
}
@font-face {
  font-family: FiraSans-thin;
  src: url(FiraSans-Thin.ttf);
}
@font-face {
  font-family: FiraSans-italic;
  src: url(FiraSans-Italic.ttf);
}
@font-face {
  font-family: FiraSans-regular;
  src: url(FiraSans-Regular.ttf);
}
@font-face {
  font-family: FiraCode-regular;
  src: url(FiraCode-Regular.otf);
}

body{

  background-color: #333;
  color:#eee;
}
.lockup{
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
  padding-top:20px;
  font-family: 'FiraSans-black', regular;
  font-size:64px;
}
.tagline{
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
  font-family: 'FiraSans-thin', regular;
  font-size:32px;
}
#sketch-holder{
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
width:100vw;
height:100vh;
  /* margin:20px; */
  /* width: 940px; height: 300px; */
  /* background-size: contain; */
  /* position:fixed; */
  /* background-color: red; */
  opacity: .2;
}
.themes{
  position: fixed;
  top:0;
  left:20px;
  right:20px;
  line-height: 2;
height: 90vh;
width:100vw;
  font-family: 'FiraCode-regular', regular;
  font-size:16px;

}
.theme1{
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: red; */
  /* width:50%; */
}
.theme2{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  top:0;
  right:50px;
  height: 100%;
  position: absolute;
    /* background-color: blue; */
  /* width:50%; */
}
#mc_embed_signup{
  padding:0;
}
h2{
    font-size:21px;
}
#mc_embed_signup form{
  padding:0;
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
  z-index:3;
  background:#333;
  color:#eee;
  font-size:16px;
    font-family: FiraSans-regular;
    /* background-color: red; */

}
.newsletter{
  display: flex;
  flex-wrap: nowrap;
}
.mc-field-group{
  width:100%;
  /* background-color: red; */
}
.actions{
  height:50px;
  width:100%;
  flex-direction: row;
  display:flex;
  flex-wrap: wrap;
justify-content: flex-start;
position: fixed;
bottom:10px;
left:0;
z-index:4;
font-size:16px;
font-family: FiraCode-regular;
  /* margin-bottom:50px; */
}

.tickets{
  padding:12px;
  text-align: center;
width:33%;
   background-color: #8cf85a;
border: 1px solid #8cf85a;
  color:#333;
}

.social1{
  height:100%;
    margin:0;
    padding:0;
  border: 1px solid #3399ff;
  background-color: #3399ff;
}
.social1 img{

  padding-left:15px;
  padding-right:15px;
  height:24px;
}
.mail{
  padding :12px;

  width:32%;
  background-color: #3399ff;
  color:#333;
  border:1px solid #3399ff;
}

.credit img{
  padding-right:5px;
  height:12px;
}
.credit{
  text-align: center;
  border: 1px solid #eee;
    width:29%;
 /* background-color: green; */
  font-size:15px;
  padding:11px 11px 11px 11px;
  font-family: FiraSans-thin;
  color:#eee;
  display: block;
  background-color: #333;
}
