@font-face {
  font-family: FiraSans-black;
  src: url(FiraSans-Black.ttf);
}
@font-face {
  font-family: FiraSans-thin;
  src: url(FiraSans-Thin.ttf);
}
@font-face {
  font-family: FiraSans-italic;
  src: url(FiraSans-Italic.ttf);
}
@font-face {
  font-family: FiraSans-regular;
  src: url(FiraSans-Regular.ttf);
}
@font-face {
  font-family: FiraCode-regular;
  src: url(FiraCode-Regular.otf);
}
@font-face {
  font-family: VT323-Regular;
  src: url(VT323-Regular.ttf);
}
@font-face {
  font-family: Terminus-Regular;
  src: url(TerminusTTF-4.47.0.ttf);
}

html,body{
  width:100%;
  padding:0;
  /* padding-bottom:80px; */
  margin:0;
}
body{
width:100vw;
background-color: black;
color:#eee;
}

.lockup{
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  z-index: 2;
  padding-top:100px;
  font-family: 'Montserrat', sans-serif;
  /* font-size:100px; */
}
.logolockup{
width: 90vw;
/* background-color: red; */
padding-left: 100px;
padding-right: auto;
  position: absolute;
  left:50%;
transform: translateX(-50%);
}
.festivalflex{
  /* max-width: 300px; */
  /* background-color: grey; */
  display: flex;
  flex-wrap: wrap;
   justify-content: flex-start;
}
.datesflex{
  /* max-width: 300px; */
  display: flex;
  flex-wrap: nowrap;
  /* background-color: grey; */
  justify-content:flex-start;
  align-items:flex-start;
}
.eyemyth{
  display: inline !important;
  /* max-width: 90vw; */
/* background-color: grey; */
  line-height:.8;
  font-size: 200px;
  font-weight: 900;
  color: #fff;
}
.festival{
  /* width: 1200px; */
  /* background-color: red; */
  font-weight: 900;
  line-height:.8;
  font-size: 150px;
    padding: 0;
  /* display: inline-block; */
  color: #FF40FF;
}
.festival2{
  width: 800px;
  /* background-color: red; */
  font-weight: 900;
  line-height:.8;
  font-size: 150px;
    padding: 0;
  /* display: inline-block; */
  color: #FF40FF;
}
.barflex{
/* width: 200px; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* background-color: pink; */
  justify-content: flex-start;
  align-items:center;
}
.bar{
  /* display: block; */
  /* display: block; */
  background-color: #8AFE4F;
width:80px;
  height:10px;
}
.mumbai{
    /* background-color: blue; */
  font-size: 50px;
    line-height:.8;
    padding: 0;
    font-weight: 900;
  /* display: inline-block; */
  color: grey;

}
.dates{
  /* width:150px; */
    line-height:.8;
  font-weight: 900;
    /* background-color: yellow; */
  font-size: 50px;
    padding: 0;
  display: inline-block;
  color: #8AFE4F;

}
.lockupvoid{
  background-color: black;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  width:100%;
  height:48px;
}
.void{
    background-color: black;
    width:100%;
    height:50vh;
}

#sketch-holder{
  /* position: fixed; */
  top:0;
  left:0;
  z-index: 0;
width:100vw;
height:50vh;
mix-blend-mode: difference;
  /* margin:20px; */
  /* width: 940px; height: 300px; */
  /* background-size: contain; */
  /* position:fixed; */
  /* background-color: red; */
  opacity: .7;
}


#mc_embed_signup{
  /* z-index:1; */

  width:100%;
height:80px;

  padding:0;
    outline: none;
}
.newsletter_intro{
/* background-color: #666; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size:21px;
margin-left:25px;
padding-top: 5px;
    padding-bottom:5px;
    color: #DD3928;
}
form{
  padding: 0 !important;
  margin:0;
}
#mc_embed_signup form{
padding: 0;
margin:0;
  z-index:0;
  border: 0 solid black !important;
  /* background-color:red; */
  color:#eee;
  font-size:18px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: red; */

}
.newsletter{
  outline: none;
  /* background-color: #666; */
  font-size: 21px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
#mc-embedded-subscribe{
  background-color: #DD3928 !important;
  font-family: 'Montserrat', sans-serif;
/* padding:5px !important; */
width:200px!important;
height:64px !important;

font-weight:900!important;
    border-radius: 0 !important;
    border: 0 solid black !important;
    outline: none !important;
  font-size: 24px !important;
  padding: 7px !important;
}
#mc-embedded-subscribe:hover{
  color:#DD3928 !important;
}

.mc-field-group{

  border: 0 solid black !important;
  outline: none !important;
  font-size: 24px;
  width:100%;

}
.required,
.email{

  padding: 7px !important;
  border: 0 solid black !important;
  outline: none !important;
  border-radius: 0 !important;
  font-size: 24px !important;
}
#mce-EMAIL{

  outline: none;
  width:100%;
  height:50px;

background-color: #DD3928;

color: #fff;
font-family: 'Montserrat', sans-serif;

}
#mce-responses,
.clear{
  /* background-color: #333; */
}
.main_artwork{
  /* padding:10px; */
  width:100%;
  /* height:50vh; */
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 2;
  color: #000;
  background-color: #FF40FF;
  font-weight: 500;

}
.intropink{
  /* display: inline; */
  padding :50px;
}
.intropink a {
  background-color: black;
  color:#FF40FF;
  display: inline;
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
}
.introyellow{
  padding :50px;
}
.introyellow a {
  background-color: black;
  color:#F8E71C;
  display: inline;
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
}
.blockpink{
  /* display: flex;
  flex-wrap: nowrap; */
}
.jello {
  float: left;
  font-size: 40px;
width:45%;
height:100px;
  padding: 30px;

margin-top: 20px;
margin-bottom: 20px;
}
.jello1:hover{
  /* float: left;
  font-size: 40px;
width:45%;
height:100px;
  padding: 30px;
background-color: red;
margin-top: 20px;
margin-bottom: 20px; */
  animation: jello 2s infinite;
  /* animation-delay: 1s; */
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.jello2:hover{
  animation: jello 2s infinite;
  /* animation-delay: 2.5s; */
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.jello3:hover{
  animation: jello 2s infinite;
  /* animation-delay: 4.5s; */
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.jello4:hover{
  animation: jello 2s infinite;
  /* animation-delay: 6s; */
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}


@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-6.5deg) skewY(-6.5deg);
    transform: skewX(-6.5deg) skewY(-6.5deg);
  }

  33.3% {
    -webkit-transform: skewX(3.25deg) skewY(3.25deg);
    transform: skewX(3.25deg) skewY(3.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-1.125deg) skewY(-1.125deg);
    transform: skewX(-1.125deg) skewY(-1.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
.slide{
  width:600px;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pinkfont{
  /* background-color: white !important; */
color:#FF40FF;
}
b{

  /* font-family: 'VT323', monospace; */
}
.greenfont{
  /* max-width:900px; */
  margin-left:auto;
  margin-right:auto;
/* font-size: 40px; */
  line-height: .5;
color:#8AFE4F;
}
a{
  display: block;
  color :grey;
}
.yellowfont{
    /* font-family: 'Space Mono'; */
  background-color:#000;
  height:250px;
  font-size: 60px !important;
  line-height: 1 !important;
/* width:100% !important; */
  /* background-color:#F8E71C; */
  color: #F8E71C;
}
ul{
  list-style-type: none;
  /* background-color:blue; */
  height: 200px;
}
li{
height:250px;
  line-height: 1.6 !important;
  /* background-color:green; */
}
.bluefont{
  width: 100%;
  color: #37A7FF;
}

.green{
  font-size: 200px !important;
  /* height:80vh; */
  /* padding: 40px; */
background-color: #8AFE4F;
font-weight: 900 !important;
}
.green1{
  line-height: .8;
  /* font-size: 36px; */
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 300; */
}
.green2{
  line-height: .8;
  color:grey;
  /* font-size: 36px; */
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 900; */
}
.green3{
  line-height: 1;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.yellow{
  color: #000;
background-color: #F8E71C;
}
.blue{
background-color: #37A7FF;
}
.intro{
position: relative;
  display: block;
  overflow: hidden;
  text-align: left;
width:100%;
font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  line-height: .8;
  /* padding-bottom: 50px; */
}
.intro_line1,
.intro_line2,
.intro_line3,
.intro_line4{
  position: absolute;
  bottom:0px;
  left:0;
  font-size:120px;
  width:100%;
}
.intro_line1{
  /* background-color: blue; */
  /* animation: slide1 24s linear infinite; */
}
.intro_line2{
  /* animation: slide2 30s linear infinite; */
}
.intro_line3{
  /* animation: slide1 27s linear infinite; */
}
.intro_line4{
  /* animation: slide2 15s linear infinite; */
}
.intro_block:nth-child(even){
  /* float:right; */
}

.intro_block{
  width:100%;
  height:250px;
  position: relative;
  background-color: black;
}
.intro_img {
  width:100%;
  height:250px;
background-size: cover;
}

.intro_img img{
    mix-blend-mode: color-dodge;
  width:100%;
  height:800px;
}
.line1:hover{
  /* font-weight: 900; */
  mix-blend-mode: lighten;
  /* color: #FF40FF; */
}
.line2:hover{
  /* font-weight: 900; */
  mix-blend-mode: lighten;
  /* color: #FF40FF; */
}

.line3:hover{
  /* font-weight: 900; */
  mix-blend-mode: lighten;
  /* color: #FF40FF; */
}
.line4:hover{
  /* font-weight: 900; */
  mix-blend-mode: lighten;
  /* color: #FF40FF; */
}
@keyframes slide1 {
0%{
  /* font-size:120%; */
left:-100%;
}

100%{
  /* font-size:120%; */
left:100%;
}
}
@keyframes slide2 {
0%{
  /* font-size:120%; */
left:100%;
}

100%{
  /* font-size:120%; */
left:-100%;
}
}
.line1{
    font-weight: 900;
    font-size:50px;
}
.line2{
    font-weight: 900;
  color: #FF40FF;
  /* mix-blend-mode: color-dodge; */
  text-transform: capitalize;
  position: absolute;
  text-align: left;
  bottom:10px;
  left:10px;
  font-size:50px;
/* text-align: right; */
}
.line3{
  font-weight: 900;
  color: #FF40FF;
  /* mix-blend-mode: color-dodge; */
  text-transform: capitalize;
  position: absolute;
  bottom:10px;
  left:10px;
  font-size:50px;
  /* font-family: 'Space Mono'; */
}
.line4{
  font-weight: 900;
  color: #FF40FF;
  /* mix-blend-mode: color-dodge; */
  text-transform: capitalize;
  line-height: .8;
  position: absolute;
  font-size:50px;
  bottom:10px;
  left:10px;
    /* font-family: 'VT323'; */
/* text-align: right; */
}
.line5{
  color: #FF40FF;
  /* mix-blend-mode: color-dodge; */
  font-size:100px;
  text-transform: capitalize;
  position: absolute;
  bottom:10px;
  left:10px;
  /* font-family: 'Nova Mono'; */

}
.white{
width:100%;
background-color: #fff;
color: #333;
}
.partner{
  text-align: left;
  /* background-color: red; */
  z-index:20;
  max-width: 100%;
  padding:50px;

  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  font-weight: 900;
  /* line-height: 1.2; */
  color:#333;
  /* margin-bottom: 20px; */


}
.partnerlogos{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.partnerheader{
  font-size: 60px;
  font-weight:900;
}
.archive{
  text-align: left;
  padding:50px;
  background-color: #4A90E2;
  z-index:20;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 0px; */
  font-weight: 300;
  line-height: 1.2;
  color:#333;
  /* margin-top: 40px; */
  /* margin-bottom: 10px; */
}
.archiveheader{
  font-size: 60px;
  font-weight:900;
}
.archiveintro{
  font-size: 32px;
}
.partner2{
padding:20px;
/* background-color: blue; */
  text-decoration: none;
  /* display: inline-block; */

}



.partner2 img{
  width:100px;
height:60px;
}

.archive1 img,
.archive2 img{
  padding-right:20px;
  float left;
  width:60px;
height:30px;
}
.archives{
  max-width:100%;
  padding:50px;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
}
.archive1,
.archive2{
  width:500px;
  /* text-align: right; */
  font-family: 'Montserrat';
  color:#333;
  /* background-color: yellow; */
  text-decoration: none;
  font-size: 27px;
    font-weight: 300;
  display: inline-block;
}

.archivephotos{
  position: relative;
}
.archivephoto1,
.archivephoto1,
.archivephoto2,
.archivephoto3,
.archivephoto4,
.archivephoto5,
.archivephoto6,
.archivephoto7,
.archivephoto8,
.archivephoto9,
.archivephoto10{
    position: absolute;
    top:0;
  left:0;
}
.archivephoto1 img,
.archivephoto2 img,
.archivephoto3 img,
.archivephoto4 img,
.archivephoto5 img,
.archivephoto6 img,
.archivephoto7 img,
.archivephoto8 img,
.archivephoto9 img,
.archivephoto10 img{
  /* background-color: red; */
  width:240px;
  height:160px;
}


.slideshow{
position: relative;
height: 70vh;
width:100%;
overflow: hidden;
/* background: blue; */
}
.slideshowbox{
  height: 70vh;
  width:360vw;
  /* background: red; */
  left: 0;
  top:10px;
  position: absolute;
  display:flex;
  flex-wrap:wrap;
  animation: slideshow 40s linear infinite;
}
@keyframes slideshow {
  0%{
transform: translateX(0);
  }
  50%{
transform: translateX(-75%);
  }
  100%{
transform: translateX(0);
  }
}
.slideshowbox img{
  /* background: green; */
  width:70vw;
  height: 70vh;
}
.tickets{
  max-width: 100%;
  margin-left:auto;
  margin-right: auto;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  padding:50px;
  /* margin:30px; */
  text-align: left;
/* width:100%; */
font-weight: 900;
  color:#DD3928;
}
.actions{
  z-index:20;
  /* height:50px; */
  max-width:100%;
padding-left:50px;
padding-right:50px;
padding-top: 25px;
padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F2D522;
z-index:4;
font-size:18px;
font-family: 'Montserrat', sans-serif;

}

.mail {
  /* background-color: red; */
font-weight: 900;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
color:#333;
}
.mail a{
  font-weight: 300;
  color:#333;
  text-decoration: none;
}
.social1{
  /* background-color: blue; */
    margin:0;
    padding:0;
}
.social1 img{
  padding-left:10px;
  padding-right:10px;
  height:24px;
}
.credit{
  font-family: 'Montserrat';
  font-size:18px;
  margin-left: auto;
  margin-right: auto;
  max-width:600px;
padding:50px;
}
.credit img{
  padding-left:5px;
  padding-right:5px;
  height:15.5px;
}
.credit a{

display: inline-block;
 text-decoration: none;
  font-size:18px;
  font-weight: 700;

  font-family: 'Montserrat', sans-serif;
  color:#333;
}
.unbox{
  line-height: .5;
    border-bottom: 4px solid #333;
}
@media(max-width:750px) {
  .lockup{
    padding-top: 10px;
  }
  .logolockup{
    /* background-color: blue; */
width: 95vw;
  padding-left: 0;
  }
  .eyemyth{
font-size:100px;
    /* display: block; */
/*  */
  }
  .festival{
    font-size:60px;
    /* font-size:30px; */
  }
  .festivalflex{
    /* background-color: red; */
  }

  .mumbai,
  .dates{

    padding-top:10px;
    font-size:50px;
    /* font-size:21px; */
  }
  .bar{
  width:100px;
    height:6px;
  }
  .lockupvoid{
    height:70px;
  }
.main_artwork{
  padding:20px;
  font-weight: 300;
    font-size: 24px;
line-height: 1.6;
  /* height:60vh; */
}
.intro_line1,
.intro_line2,
.intro_line3,
.intro_line4{
  font-size:27px;
}
.green{
  font-size: 36px !important;
}
.yellowfont{
  height:120px;
  font-size: 30px !important;
}
.jello{
  height:60px;
  font-size: 30px ;
}
  .intro{
    background-color: #FF40FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: .8;
background-color: black;
/* max-width:300px; */
  }

  /* .trans{
    padding-left: 0px;
  } */

  .intro_block{
  padding-bottom: 0px;
    display:block;
    /* flex-wrap: nowrap;
    justify-content: space-around;
    align-items:  center; */
    /* background-color: #333; */
  }

  .intro_img{
    width:100%;
    height: 65px;
  /* background: url(immersive.gif); */
  background-repeat: no-repeat;
  background-image: url(immersive.gif);
  background-size: cover;
  /* height:150px; */
  /* background-color: yellow; */
  }
  .intropink,
  .introyellow{
    padding:10px;
  }
  .intro_img img{
      mix-blend-mode: color-dodge;
    width:100%;
    height:500px;
  }
  .intro_img:active{
    /* height: 200px; */
  }
  .line1,
  .line2,
  .line3,
  .line4{
    font-size:27px;
  }
  .slideshow{
  position: relative;
  height: 32vh;
  width:100%;
  overflow: hidden;
  /* background: blue; */
  }
  .slideshowbox{
  width:400vw;
  }
  .slideshowbox img{
    /* background: green; */
    width:80vw;
    height: 25vh;
  }
  .newsletter_intro{
  margin-left:10px;
  }

  #mc-embedded-subscribe{
  width:100px!important;
}

.tickets{
  padding: 10px;
  font-size: 27px;
}
.partner{
  font-size: 27px;
}
.mail{
  font-weight: 900;
display: block;
  background-color: #fff;
  color:#333;
  text-align: center;
  max-width:900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:120px;
}
.mail a{
    font-weight: 500;
  color:#333;
  padding:10px;
  display: block;
}
.credit {
  padding-left:5px;
  padding-right:5px;
}
.credit a{
    display: inline-block;
}
.credit img{
  padding-right:0;
  height:12px;
}
.archive{
  font-size: 27px;
}
.archive a{
  font-size: 18px;
}








}
